<%= simple_form_for article do |f| %>
    <div class="mt-3">
        <%= f.input :title %>
        <%= f.input :body, input_html: { rows: 10 } %>
        <%= f.association :category, collection: Category.sorted, prompt: "Escolha uma categoria" %>
    </div>
    <p>
        <%= f.button :submit, :class => 'btn btn-dark px-3' %>
        <%= link_to 'Voltar', root_path, :class => 'btn btn-outline-dark px-3' %>
    </p>

<% end %>