
<h2 class="serif fw-bold">Categorias</h2>

<%= link_to "+ Criar categoria", new_category_path, class: "btn btn-dark btn-sm px-3 float-end" if policy(category).new? %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= category.name %></td>
        <td class="d-flex justify-content-end">
          <%= link_to "Edit", edit_category_path(category), class: "btn btn-dark btn-sm px-3"  if policy(category).edit? %>
          <div class="border-end mx-2 border-dark"></div>
          <%= button_to "Destroy", category, method: :delete, class: "btn btn-danger btn-sm px-3"  if policy(category).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>